// recipe/recipe.jade
ion-view(view-title="{{vm.title}}") {{ show=vm.settings.show;'' }}
  ion-nav-buttons(side="primary")
    button.button.button-icon.button-clear.ion-navicon(menu-toggle="primary")
    button.button.button-icon.button-clear(
      ng-class="show.newTile ? 'ion-close': 'ion-plus'"
      ng-click="vm.on.createNewTile()"
    )
  ion-nav-buttons(side="secondary") 
    button.button.button-icon.button-clear.ion-plus(
      ng-class="show.newTile ? 'ion-close': 'ion-plus'"
      ng-click="vm.on.createNewTile()"
    )

  div(
    ng-show="show.newTile"
  )
    div.bar.bar-subhead-wrap
      div.item-input-inset.no-padding
        div.item-input-wrapper
          i.icon.ion-link.larger
          new-tile(
            style="width:100%;"
            return-close="true"
            is-fetching="show.spinner.newTile"
            on-complete="vm.on.submitNewTile(result)"
          )  
        button.button.button-dark.button-clear
          i.icon.ion-ios-arrow-forward(
            ng-show="show.spinner.newTile"
          )
          ion-spinner(
            icon="ios-small"
            ng-show="show.spinner.newTile"
          )


  ion-content(
    delegate-handle="list-item-scroll"
    scroll-sista="header-subheader"
  ) 
 
    list-item-container.content.condensed(
      collection="vm.rows"
      scroll-handle="list-item-scroll"
      summary-min-width="320"
      detail-max-width="720"
      show-detail-inline="true"
      item-height="160"
      todo-use-collection-repeat="true"
    )

      ng-include(src="'recipe/recipe.fb-tile.html'" )
