// recipe/recipe.jade
ion-view(
  view-title="{{vm.title}}"
  id="{{vm.viewId}}"
  ) 
  div.scope-locals.hide
    {{ $show=vm.settings.show;'' }}

  ion-nav-buttons(side="secondary") 
    button.button.button-icon.button-clear.ion-plus(
      ng-class="$show.newTile ? 'ion-close': 'ion-plus'"
      ng-click="vm.on.createNewTile()"
    )


  ion-content(
    delegate-handle="recipe-list-scroll"
    scroll-sista="header-subheader"
  ) 
    
    pull-to-reveal(
      reveal="$show.pullToReveal"
      on-pulled="vm.on.pulledToReveal(value)"
      )
      ion-slides(
        options="vm.pullToReveal.options"
        slider="vm.pullToReveal.slider"
        )
        ion-slide-page
          tile-search-sort(
            on-filter-by="vm.on.filterBy($event, value)"
            )
        ion-slide-page
          tile-create-new(
            on-new-tile="vm.on.submitNewTile(result)"
            )
        
    list-item-container.content.condensed(
      collection="vm.rows"
      filter="'mostRecentFilter:createdAt'"
      scroll-handle="recipe-list-scroll"
      summary-min-width="320"
      detail-max-width="720"
      show-detail-inline="true"
      item-height="160"
      todo-use-collection-repeat="true"
      detail-by-reference="true"
      selected-id="vm.selectedItemId"
      on-select="vm.on.select($item,$index,silent)"
    )

      ng-include(src="'recipe/recipe.fb-tile.html'" )
