//- placeholder.tile.html
//- transclude using ng-repeat="$item in collection"
//- NOTE: ion-item(ui-sref="") doesn't work with 
//-   ionicMaterial CSS.  use div.item instead

list-item-summary.animate-fade-slide-in-right(
  opt-collection="vm.rows"
)
  div.tile.recipe.item.item-complex.content.ink(
    ng-class="[$item.color,'bg'].join('-')"
    ng-click="$listItemDelegate.select($event, $item, $index)"
  )
    div.hero.content(style="height:160px;")
      div.feature.image(
        bg-image="{{$item['og:image']}}"
      )
    div.body.padding
      div.title.line-clamp-1 {{$item['og:title']}}
      p.description.line-clamp.line-clamp-2 {{$item['og:description']}}
      p {{$item['og:site_name']}}

list-item-detail 
  //- $item == $listItemDelegate.selected(), e.g. selected model
  ion-item.in.done(ng-controller="RecipeDetailCtrl as dvm")

    div.item-body.no-padding
      p {{$item['og:description']}}

    div.button-bar.padding-top
      button.button.button-flat.button-energized(
        ng-click="dvm.on.edit($event, $item)"
      ) Edit
      button.button.button-flat.button-dark(
        ng-click="$listItemDelegate.select($event, null)"
      ) Close
      a.button.button-flat.button-balanced(
        href="{{$item['og:url']}}"
        target="_blank"
      ) Open
