// grid/grid.jade
ion-view(view-title="{{vm.title}}")
  ion-nav-buttons(side="secondary")
    button.button.button-icon.button-clear.ion-android-more-vertical(menu-toggle="secondary")
  ion-content(
    delegate-handle="list-item-scroll"
    scroll-sista="header"
  )

    list-item-container.content.condensed(
      collection="vm.rows"
      scroll-handle="list-item-scroll"
      summary-min-width="320"
      detail-max-width="720"
      show-detail-inline="true"
      opt-item-height="160"
      todo-use-collection-repeat="true"
    )

      style.item-style.
        .list-item-summary .list-item-wrap > .item, .list-item-summary .item.item-complex > .item-content {
          min-height: 160px; }

      list-item-summary.animate-fade-slide-in-right(
        opt-collection="vm.rows"
      )
        //- transclude using ng-repeat="$item in collection"
        //- NOTE: ion-item(ui-sref="") doesn't work with 
        //-   ionicMaterial CSS.  use div.item instead
        ion-item.item-avatar.ink(
          ng-class="[$item.color,'bg'].join('-')"
          ng-click="$listItemDelegate.select($event, $item, $index)"
        )

          img.ink(
            placeholder-data="img" group="face" index="{{$item.id}}"
            ng-click="dbg.faceClick($event, 'slide-under')"
          )
          div(placeholder-data="bgSrc" class="mask" group="tile" index="{{$item.id}}" 
          model="$item" bg-image="{{$item.bgSrc}}"
          )
          div.light(placeholder-data="name" group="tile" index="{{$item.id}}" 
          model="$item" ng-bind="$item.name"
          )
          div.console(ng-bind="{{$item.id}}")

      list-item-detail 
        //- $item == $listItemDelegate.selected(), e.g. selected model
        ion-item.in.done(ng-controller="ItemDetailCtrl as dvm")
          ion-input.item-input.ink
            ion-label.text-right
              i.icon.ion-person.padding-horizontal
            input.capitalize(type="text" ng-model="$item.name" readonly)
          ion-input.item-input.ink
            ion-label.text-right
              i.icon.ion-email.padding-horizontal
            input.capitalize(type="text" ng-model="$item.color" readonly)
          div.button-bar

            button.button.button-flat(
              ng-class="'button-'+$item.color"
              ng-click="$listItemDelegate.setItemHeight(200)"
            ) {{$item.name}}
            button.button.button-flat.button-dark(
              ng-click="$listItemDelegate.select($event, null)"
            ) Cancel
            button.button.button-flat.button-balanced(
              ng-click="dvm.on.click($event, $item)"
            ) .slide-under
