// recipe/recipe.jade
ion-view(view-title="{{vm.title}}") {{ show=vm.settings.show;'' }}
  ion-nav-buttons(side="primary")
    button.button.button-icon.button-clear.ion-navicon(menu-toggle="primary")

  ion-content.has-header.has-footer(
    delegate-handle="list-item-scroll"
    scroll-sista="header"
  )
  
 
    //- list-item-container.content.condensed(
    //-   collection="vm.rows"
    //-   scroll-handle="list-item-scroll"
    //-   summary-min-width="320"
    //-   detail-max-width="720"
    //-   show-detail-inline="true"
    //-   item-height="160"
    //-   todo-use-collection-repeat="true"
    //-   detail-by-reference="true"
    //- )
    ion-list.event-detail
      {{ event=vm.event;''}}
      {{ host=vm.me;''}}
      {{ show=vm.settings.show;''}}
      ion-item.item-divider
        p menu
      div.menu-items(
        ng-repeat="$item in event.menuItems track by $item.id"
        )
        div.tile.recipe.item.item-complex.content.ink(
          ng-click="$event.stopImmediatePropagation()"
          ui-sref="app.recipe({id:{{$item.id}}})"
        )
          div.hero.content
            div.item-avatar-right.ink(
              ng-click=""
            )
              img.ink(
                placeholder-data="img" group="face" size="160" index="{{$index}}"
                ng-click="$event.stopImmediatePropagation()"
                ui-sref="app.profile({'id':{{$index}}})"
              )
            
            div.icon-bar.bottom-toolbar.condensed.light(
              ng-show="$item['title']"
              ng-click="$event.stopImmediatePropagation()"
              )
              i.button.button-clear.larger.ion-heart.ink(
                ng-class="$item.favorite && 'selected'"
                ng-click="$item.favorite = !$item.favorite"
                )
              i.button.button-clear.larger.ion-map.ink(
                ui-sref="app.map({'id':{{$index}} })"
                )
              i.button.button-clear.larger.ink(
                ng-class="{'ion-edit': $item.isOwner, 'ion-fork': !$item.isOwner}"
                ng-click="action = $item.isOwner ? 'edit' : 'forkTile'; vm.on[action]($event, $item); "
                )         
              i.button.button-clear.ion-ios-upload.larger.ink(
                )
            div.feature.image(
              bg-image="{{$item['image']}}"
            )
    
      div.event-details.list.has-icon-avatar.condensed
        ion-item.item-divider
          p event details
        ion-item.item-avatar
          img.item-image.ink(
            ng-src="{{host.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{host.id}}' })"
          )
          span Hosted by #[b {{ [host.firstname,host.lastname].join(' ')  || item.ownerId }}]
          span.icon-inline-right(
            ng-click="show.expandEventDetails = !show.expandEventDetails"
            ng-hide="show.expandEventDetails"
            )
            span.item-icon-right(ng-repeat="iconClass in ['ion-ios-calendar-outline','ion-ios-clock-outline','ion-ios-location']")
              i.icon.inline(ng-class="iconClass")
        div(
          ng-show="show.expandEventDetails"
          )
          ion-item.item-icon-left
            i.icon.ion-ios-calendar-outline
            {{ $item.startTime | amDateFormat:'ddd, MMM Do' }} 
            span.nowrap ( {{ $item.summary.countdown}} )
          ion-item.item-icon-left
            i.icon.ion-ios-clock-outline
            span. 
              at {{ $item.startTime | amDateFormat:'h:mm a'}} for
              {{ $item.duration | amDurationFormat:'milliseconds' }}
          ion-item.item-icon-left(
            ng-click="vm.on.scrollTo('map')"
          )
            i.icon.ion-ios-location
            //- feastly: Exact addr will be shared upon purchase
            //- eatwith: exact location provided upon booking
            span {{ $item['visibleAddress']}} &nbsp;
            
    ion-list.participants
      ion-item.item-divider
        p participants
      ion-item.participants.item-avatar-list
        div.avatar-wrap
          img.item-image.ink(
            ng-src="{{host.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{host.id}}' })"
          )
        div.avatar-wrap(ng-repeat="personId in [1,2]")
          img.item-image.ink(
            placeholder-data="img" group="face" size="160" index="{{personId}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{personId}}' })"
          ) 
    ion-list.invitations
      ion-item.item-divider
        p invitations
        
    ion-list.feed
      ion-item.item-divider
        p feed
        
    ion-list.control-panel
      ion-item.item-divider
        p control panel
                  
  ion-footer-bar.bar-positive
    div.button-bar
      button.button.button-icon.ion-camera(ng-click="mm.on.cameraClick($event)")
      button.button.button-icon.ion-ios-location(ng-click="mm.on.locationClick($event)")
      button.button.positive(ng-click="mm.on.done($event)") Done
