// recipe/recipe.jade
ion-view.event-detail(
  view-title="{{vm.event.title || vm.title}}"
  id="{{vm.viewId}}"
  )
  div.hide {{ show=vm.settings.show;'' }}
  ion-nav-buttons(side="primary")
    button.button.button-icon.button-clear.ion-navicon(menu-toggle="primary")

  ion-content.event-detail.has-header(
    fab-scroll-container
    delegate-handle="list-item-scroll"
    scroll-sista="header"
  ) 
    div.hide {{ event=vm.event; show=vm.settings.show;''}}
    div.row.responsive-sm.no-padding
      div.col
        ion-list.menu-items
          ion-item.item-divider
            p menu
          ion-item.item-complex
            list-item-container.content.condensed(
              collection="vm.$$menuItems"
              summary-min-width="240"
              item-height="100"
            )
              list-item-summary {{vm=$parent.$parent.vm;''}}
                div.tile.recipe.item.item-complex.content.ink(
                  ng-click="$event.stopImmediatePropagation()"
                  ui-sref="app.recipe({id:$item._id})"
                )
                  //- TODO: event-detail-hero.template.html
                  div.hero.content
                    div.item-avatar-right.ink(
                      ng-click=""
                    ) {{$$itemOwner = $item.fetchOwner();''}}
                      img.ink(
                        ng-src="{{$$itemOwner.profile.face}}"
                        ng-click="$event.stopImmediatePropagation()"
                        ui-sref="app.profile({'id':$item.ownerId})"
                      )
                    
                    div.icon-bar.bottom-toolbar.condensed.light(
                      ng-show="$item['title']"
                      ng-click="$event.stopImmediatePropagation()"
                      )
                      i.button.button-clear.larger.ion-heart.ink(
                        ng-class="$item.favorite && 'selected'"
                        ng-click="$item.favorite = !$item.favorite"
                        )
                      i.button.button-clear.larger.ion-map.ink(
                        ui-sref="app.map({'id':[$item._id,$item.className].join(':')})"
                        )
                      i.button.button-clear.larger.ink(
                        ng-class="{'ion-edit': $item.isAdmin(), 'ion-fork': !$item.isAdmin()}"
                        ng-click="action = $item.isAdmin() ? 'edit' : 'forkTile'; vm.on[action]($event, $item); "
                        )         
                      i.button.button-clear.ion-ios-upload.larger.ink(
                        )
                    div.feature.image(
                      bg-image="{{$item['image']}}"
                    )
                  
    div.row.responsive-sm.no-padding.row-reverse-m
      div.col.col-33

        ion-list.details.list.has-icon-avatar.xxx-condensed
          div.hide {{host=vm.$$host;''}}
          ion-item.item-divider.item-button-right(
            ng-click="show.hideDetails = !show.hideDetails"
            )
            p details
              span(ng-hide="!show.hideDetails") &nbsp; {{ event.startTime | amDateFormat:'ddd, MMM Do' }}
                span.nowrap &nbsp;( #[span(am-time-ago="event.startTime")] )
            button.button.button-icon.button-clear(
              ng-class="{'ion-arrow-down-b':show.hideDetails, 'ion-arrow-up-b':!show.hideDetails}"
              )
          ng-repeat-grid(
            ng-hide="show.hideDetails"
            min-width="768"
            )
            ion-item.item-avatar 
              img.item-image.ink(
                ng-src="{{host.profile.face}}"
                ng-click="$event.stopImmediatePropagation()"
                ui-sref="app.profile({username: host.username })"
              )
              span Hosted by #[b {{ [host.profile.displayName].join(' ')  || event.ownerId }}]
            ion-item.item-icon-left
              i.icon.ion-ios-calendar-outline
              {{ event.startTime | amDateFormat:'ddd, MMM Do' }}
              span.nowrap &nbsp;( #[span(am-time-ago="event.startTime")] )
            ion-item.item-icon-left
              i.icon.ion-ios-clock-outline
              span. 
                at {{ event.startTime | amDateFormat:'h:mm a'}} for
                {{ event.duration | amDurationFormat:'milliseconds' }}
            ion-item.item-icon-left(
              ng-click="vm.on.toggleMap($event)"
            )
              i.icon.ion-ios-location
              //- feastly: Exact addr will be shared upon purchase
              //- eatwith: exact location provided upon booking
              span {{ event.visible.address}} &nbsp;
          ion-item.event-detail-map.item-complex
            div.hide
              {{map=vm.location.map;''}}
              {{opt=map.options;''}}
            div.wrap(
              ng-if="map && !show.hideMap"
            )
              ui-gmap-google-map( 
                center='map.center'
                zoom='map.zoom'
                options='opt.map.options'
                xxcontrol='map.control'
                control='vm.location.gMap.Control'
                events='map.events'
              )
                ui-gmap-circle(
                  ng-if="map.type=='circle'"
                  center="opt.circle.center"
                  radius="opt.circle.radius"
                  stroke="opt.circle.stroke"
                  )
                ui-gmap-marker(
                  idKey="opt.oneMarker.idKey"
                  coords="opt.oneMarker.coords"
                  options="opt.oneMarker.options"
                  events="opt.oneMarker.events"
                  )
                
        ion-list.participants
          ion-item.item-divider.item-button-right(
            ng-click="show.hideParticipants = !show.hideParticipants"
            )
            p at the table
            button.button.button-icon.button-clear(
              ng-class="{'ion-arrow-down-b':show.hideParticipants, 'ion-arrow-up-b':!show.hideParticipants}"
              )
          
          ion-item.participant-list.item-avatar-list.item-text-wrap(
            ng-hide="show.hideParticipants"
            ng-class="{'line-clamp-1': show.hideParticipants}"
            )
            div.avatar-wrap(ng-repeat="person in vm.$$paddedParticipants track by person.trackBy")
              img.item-image.ink(
                ng-if="person.profile.face"
                ng-src="{{person.profile.face}}"
                ng-click="$event.stopImmediatePropagation()"
                ui-sref="app.profile({username: person.username })"
                alt="{{person.profile.displayName}}"
                width="40"
              )
              button.item-image.icon.ion-person-add(
                ng-if="person.value=='placeholder'"
                ng-click="vm.on.beginBooking(vm.me, event)"
                )

        ion-list.share-links(
          ng-if="event.isParticipant()"
          )
          ion-item.item-divider.item-button-right(
            ng-click="show.hideInvitations = !show.hideInvitations"
            )
            p share event
            button.button.button-icon.button-clear(
              ng-class="{'ion-arrow-down-b':show.hideInvitations, 'ion-arrow-up-b':!show.hideInvitations}"
              )
          div(
            ng-hide="show.hideInvitations"
            )
            {{shareLinks = event.shareLinks;''}}
            //- # Share event  
            div(ng-show="shareLinks.event===false")  
              ion-item
                div.larger Share Event
                div.fine.text-wrap This event is by invitation only. The host has asked that you not share the direct link to this event.
            div(ng-show="shareLinks.event")  
              ion-item.item-body
                div.larger Share Event
                div.fine.text-wrap Share a public link to this event and let others join.
                div.share-link.item-input.item-icon-right.item-stacked-label
                  input.selectable(type="text" name="share" ng-model="shareLinks.event" onclick="this.select()" readonly)
                  a(ng-href="{{shareLinks.event}}" target="_system" ng-click="vm.on.goShareLink($event, shareLinks.event)")
                    i.icon.ion-ios-upload(
                      xxx-on-hold="vm.on.goShareLink( 'event', item.id )"
                      )

            //- # Share Invitation
            div(ng-show="shareLinks.invitations===false")  
              ion-item
                div.larger Share Event
                div.fine.text-wrap The host has asked that you not share invitations to this event.
            div(ng-show="shareLinks.invitations")
              ion-item.item-body
                div.larger Share Invitation
                div.fine.text-wrap Share an invitation to this event and track responses, including 'no' and 'maybe'.
                div.share-link.item-input.item-icon-right.item-stacked-label(ng-repeat="invite in shareLinks.invitations")
                  a(ng-href="{{invite.link}}" target="_system" ng-click="vm.on.goShareLink($event, invite.link)")
                    i.icon.ion-ios-upload(
                      xxx-on-hold="vm.on.goShareLink( 'invitation', invite.id );"
                      )
                  input.selectable.truncate(type="text" name="share" ng-model="invite.link" onclick="this.select()" readonly)
                  div.fine.text-wrap.
                    Views: {{invite.views}}. Expires {{invite.expires}} or {{invite.remaining}} views.
                //- div.new-invitation.padding-left
                //-   button.button.button-small.button-positive.padding-horizontal(
                //-     ng-click="vm.on.createInvitation($event)"
                //-     )
                //-     i.icon.ion-plus
                //-       span.padding-left New

                    
        ion-list.control-panel(
          ng-if="event.isAdmin()"
          )
          ion-item.item-divider.item-button-right(
            ng-click="show.hideControlPanel = !show.hideControlPanel"
            )
            p control panel
            button.button.button-icon.button-clear(
              ng-class="{'ion-arrow-down-b':show.hideControlPanel, 'ion-arrow-up-b':!show.hideControlPanel}"
              )
          mt-event-settings(
            ng-hide="show.hideControlPanel"
            event="event"
            on-change="vm.on.updateSettings(eventSetting, eventIsPublic)"
            type="Progressive"
            )
            
            
      div.col.col-67
        ion-list.feed {{feed=vm.feed;''}}
          ion-item.item-divider.item-button-right 
            p feed
            button.button.button-icon.button-clear.ion-plus(
              ng-click="vm.feed.showMessageComposer($event)"
              )
          message-composer(
              ng-show="feed.show.messageComposer"
              header-text="Post to Feed"
              placeholder-text="What are you thinking..."
              post-button="vm.on.postCommentToFeed(value)"
              message="feed.postDefaults.message"
              attachment="feed.postDefaults.attachment"
              address="feed.postDefaults.address"
              location="feed.postDefaults.location"
              )  
          ng-include(src="'events/post.html'")  

        
    
                  
  ion-fab(
    animation="fade"
    xxlive-displace="false"
    ng-click="vm.on.fabClick($event, vm)"
    )
    i.icon.ion(
      ng-class="vm.settings.show.fabIcon"
      )
