// recipe/recipe.jade
ion-view(view-title="{{vm.title}}") {{ show=vm.settings.show;'' }}
  ion-nav-buttons(side="primary")
    button.button.button-icon.button-clear.ion-navicon(menu-toggle="primary")

  ion-content.event-detail.has-header.has-footer(
    delegate-handle="list-item-scroll"
    scroll-sista="header"
  )
  
    ion-list.menu-items {{ event=vm.event; host=vm.me; show=vm.settings.show;''}}
                
      ion-item.item-divider
        p menu
      ion-item.item-complex
        list-item-container.content.condensed(
          collection="event.menuItems"
          summary-min-width="320"
          item-height="100"
          xx-scroll-handle="event-menu-item-list-scroll"
          xx-on-select="vm.on.select($item,$index,silent)"
        )
          list-item-summary {{vm=$parent.$parent.vm;''}}
            div.tile.recipe.item.item-complex.content.ink(
              ng-click="$event.stopImmediatePropagation()"
              ui-sref="app.recipe({id:{{$item.id}}})"
            )
              //- TODO: event-detail-hero.template.html
              div.hero.content
                div.item-avatar-right.ink(
                  ng-click=""
                )
                  img.ink(
                    placeholder-data="img" group="face" size="160" index="{{$index}}"
                    ng-click="$event.stopImmediatePropagation()"
                    ui-sref="app.profile({'id':{{$index}}})"
                  )
                
                div.icon-bar.bottom-toolbar.condensed.light(
                  ng-show="$item['title']"
                  ng-click="$event.stopImmediatePropagation()"
                  )
                  i.button.button-clear.larger.ion-heart.ink(
                    ng-class="$item.favorite && 'selected'"
                    ng-click="$item.favorite = !$item.favorite"
                    )
                  i.button.button-clear.larger.ion-map.ink(
                    ui-sref="app.map({'id':{{$index}} })"
                    )
                  i.button.button-clear.larger.ink(
                    ng-class="{'ion-edit': $item.isOwner, 'ion-fork': !$item.isOwner}"
                    ng-click="action = $item.isOwner ? 'edit' : 'forkTile'; vm.on[action]($event, $item); "
                    )         
                  i.button.button-clear.ion-ios-upload.larger.ink(
                    )
                div.feature.image(
                  bg-image="{{$item['image']}}"
                )
            
    ion-list.details.list.has-icon-avatar.condensed
      ion-item.item-divider.item-button-right
        p details
          span(ng-hide="!show.hideDetails") &nbsp; {{ event.startTime | amDateFormat:'ddd, MMM Do' }}
            span.nowrap &nbsp;( #[span(am-time-ago="event.startTime")] )
        button.button.button-icon.button-clear(
          ng-class="{'ion-arrow-down-b':show.hideDetails, 'ion-arrow-up-b':!show.hideDetails}"
          ng-click="show.hideDetails = !show.hideDetails"
          )
      ng-repeat-grid(
        ng-hide="show.hideDetails"
        min-width="260"
        )
        ion-item.item-avatar
          img.item-image.ink(
            ng-src="{{host.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{host.id}}' })"
          )
          span Hosted by #[b {{ [host.firstname,host.lastname].join(' ')  || event.ownerId }}]
        ion-item.item-icon-left
          i.icon.ion-ios-calendar-outline
          {{ event.startTime | amDateFormat:'ddd, MMM Do' }}
          span.nowrap &nbsp;( #[span(am-time-ago="event.startTime")] )
        ion-item.item-icon-left
          i.icon.ion-ios-clock-outline
          span. 
            at {{ event.startTime | amDateFormat:'h:mm a'}} for
            {{ event.duration | amDurationFormat:'milliseconds' }}
        ion-item.item-icon-left(
          ng-click="vm.on.scrollTo('map')"
        )
          i.icon.ion-ios-location
          //- feastly: Exact addr will be shared upon purchase
          //- eatwith: exact location provided upon booking
          span {{ event['visibleAddress']}} &nbsp;
            
    ion-list.participants
      ion-item.item-divider.item-button-right
        p participants
        button.button.button-icon.button-clear(
          ng-class="{'ion-arrow-down-b':show.hideParticipants, 'ion-arrow-up-b':!show.hideParticipants}"
          ng-click="show.hideParticipants = !show.hideParticipants"
          )
      ion-item.participant-list.item-avatar-list.item-text-wrap(
        ng-class="{'line-clamp-1': show.hideParticipants}"
        )
        div.avatar-wrap
          img.item-image.ink(
            ng-src="{{host.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{host.id}}' })"
            width="40"
          )
        div.avatar-wrap(ng-repeat="personId in [1,2]")
          img.item-image.ink(
            placeholder-data="img" group="face" size="160" index="{{personId}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{personId}}' })"
            width="40"
          )
        div.avatar-wrap(ng-repeat="personId in [3,4,5,6,7]")
          button.item-image.icon.ion-person-add(
            ng-click="vm.on.beginBooking(vm.me, event)"
            )
    ion-list.invitations
      ion-item.item-divider
        p invitations (participants can view invitations)
        
    ion-list.feed {{feed=vm.feed;''}}
      ion-item.item-divider.item-button-right 
        p feed
        button.button.button-icon.button-clear.ion-plus(
          ng-click="vm.feed.showMessageComposer($event)"
          )
      message-composer(
          ng-show="feed.show.messageComposer"
          header-text="Post to Feed"
          placeholder-text="What are you thinking..."
          post-button="vm.on.postToFeed(value)"
          message="feed.post.message"
          attachment="feed.post.attachment"
          address="feed.post.address"
          location="feed.post.location"
          )  
      ng-include(src="'events/post.html'")            
          

        
    ion-list.control-panel
      ion-item.item-divider
        p control panel
                  
  ion-footer-bar.bar-positive.no-padding {{ event=vm.event;'' }}
    div.button-bar
      button.button(
        ng-click="vm.on.beginBooking(vm.me, event)"
        ) Join
      button.button.button-icon.ion-pizza(ng-click="")
      button.button(ng-click="mm.on.done($event)") Done
