// recipe/recipe.jade
ion-view.event-detail(
  view-title="{{vm.title}}"
  id="{{vm.viewId}}"
  )
  div.hide {{ show=vm.settings.show;'' }}
  ion-nav-buttons(side="primary")
    button.button.button-icon.button-clear.ion-navicon(menu-toggle="primary")

  ion-content.event-detail.has-header(
    fab-scroll-container
    delegate-handle="list-item-scroll"
    scroll-sista="header"
  ) 
    div.hide {{ event=vm.event; show=vm.settings.show;''}}
    div.row.responsive-sm.no-padding
      div.col
        ion-list.menu-items
          ion-item.item-divider
            p menu
          ion-item.item-complex
            list-item-container.content.condensed(
              collection="event.$$menuItems"
              summary-min-width="240"
              item-height="100"
            )
              list-item-summary {{vm=$parent.$parent.vm;''}}
                div.tile.recipe.item.item-complex.content.ink(
                  ng-click="$event.stopImmediatePropagation()"
                  ui-sref="app.recipe({id:$item.id})"
                )
                  //- TODO: event-detail-hero.template.html
                  div.hero.content
                    div.item-avatar-right.ink(
                      ng-click=""
                    )
                      img.ink(
                        ng-src="{{$item.$$owner.face}}"
                        ng-click="$event.stopImmediatePropagation()"
                        ui-sref="app.profile({'id':$item.ownerId})"
                      )
                    
                    div.icon-bar.bottom-toolbar.condensed.light(
                      ng-show="$item['title']"
                      ng-click="$event.stopImmediatePropagation()"
                      )
                      i.button.button-clear.larger.ion-heart.ink(
                        ng-class="$item.favorite && 'selected'"
                        ng-click="$item.favorite = !$item.favorite"
                        )
                      i.button.button-clear.larger.ion-map.ink(
                        ui-sref="app.map({'id':[$item.id,$item.className].join(':')})"
                        )
                      i.button.button-clear.larger.ink(
                        ng-class="{'ion-edit': $item.isOwner, 'ion-fork': !$item.isOwner}"
                        ng-click="action = $item.isOwner ? 'edit' : 'forkTile'; vm.on[action]($event, $item); "
                        )         
                      i.button.button-clear.ion-ios-upload.larger.ink(
                        )
                    div.feature.image(
                      bg-image="{{$item['image']}}"
                    )
                  
    div.row.responsive-sm.no-padding.row-reverse-m
      div.col.col-33

        ion-list.details.list.has-icon-avatar.condensed
          div.hide {{host=vm.event.$$host;''}}
          ion-item.item-divider.item-button-right
            p details
              span(ng-hide="!show.hideDetails") &nbsp; {{ event.startTime | amDateFormat:'ddd, MMM Do' }}
                span.nowrap &nbsp;( #[span(am-time-ago="event.startTime")] )
            button.button.button-icon.button-clear(
              ng-class="{'ion-arrow-down-b':show.hideDetails, 'ion-arrow-up-b':!show.hideDetails}"
              ng-click="show.hideDetails = !show.hideDetails"
              )
          ng-repeat-grid(
            ng-hide="show.hideDetails"
            min-width="768"
            )
            ion-item.item-avatar 
              img.item-image.ink(
                ng-src="{{host.face}}"
                ng-click="$event.stopImmediatePropagation()"
                ng-if="hack_delay_uiSref = host"
                ui-sref="app.profile({id: '{{host.id}}' })"
              )
              span Hosted by #[b {{ [host.firstname,host.lastname].join(' ')  || event.ownerId }}]
            ion-item.item-icon-left
              i.icon.ion-ios-calendar-outline
              {{ event.startTime | amDateFormat:'ddd, MMM Do' }}
              span.nowrap &nbsp;( #[span(am-time-ago="event.startTime")] )
            ion-item.item-icon-left
              i.icon.ion-ios-clock-outline
              span. 
                at {{ event.startTime | amDateFormat:'h:mm a'}} for
                {{ event.duration | amDurationFormat:'milliseconds' }}
            ion-item.item-icon-left(
              ng-click="vm.on.toggleMap($event)"
            )
              i.icon.ion-ios-location
              //- feastly: Exact addr will be shared upon purchase
              //- eatwith: exact location provided upon booking
              span {{ event['visibleAddress']}} &nbsp;
          ion-item#event-detail-map.item-complex
            style#event-detail-map-style.
              #event-detail-map .wrap {min-height: 200px;}
              #event-detail-map .angular-google-map-container {min-height: 200px;}
            div.hide
              {{map=vm.location.map;''}}
              {{opt=map.options;''}}
            div.wrap(
              ng-if="show.map && map"
            )
              ui-gmap-google-map( 
                center='map.center'
                zoom='map.zoom'
                options='opt.map.options'
                control='map.control'
                events='map.events'
              )
                ui-gmap-circle(
                  ng-if="map.type=='circle'"
                  center="opt.circle.center"
                  radius="opt.circle.radius"
                  stroke="opt.circle.stroke"
                  )
                ui-gmap-marker(
                  idKey="opt.oneMarker.idKey"
                  coords="opt.oneMarker.coords"
                  options="opt.oneMarker.options"
                  events="opt.oneMarker.events"
                  )
                
        ion-list.participants
          ion-item.item-divider.item-button-right
            p at the table
            button.button.button-icon.button-clear(
              ng-class="{'ion-arrow-down-b':show.hideParticipants, 'ion-arrow-up-b':!show.hideParticipants}"
              ng-click="show.hideParticipants = !show.hideParticipants"
              )
          
          ion-item.participant-list.item-avatar-list.item-text-wrap(
            ng-class="{'line-clamp-1': show.hideParticipants}"
            )
            div.avatar-wrap(ng-repeat="person in event.$$paddedParticipants track by person.trackBy")
              img.item-image.ink(
                ng-if="person.face"
                ng-src="{{person.face}}"
                ng-click="$event.stopImmediatePropagation()"
                ui-sref="app.profile({id: '{{person.id}}' })"
                alt="{{person.displayName}}"
                width="40"
              )
              button.item-image.icon.ion-person-add(
                ng-if="person.value=='placeholder'"
                ng-click="vm.on.beginBooking(vm.me, event)"
                )

                
        ion-list.invitations
          ion-item.item-divider
            p invitations (participants can view invitations)
      div.col.col-67
        ion-list.feed {{feed=vm.feed;''}}
          ion-item.item-divider.item-button-right 
            p feed
            button.button.button-icon.button-clear.ion-plus(
              ng-click="vm.feed.showMessageComposer($event)"
              )
          message-composer(
              ng-show="feed.show.messageComposer"
              header-text="Post to Feed"
              placeholder-text="What are you thinking..."
              post-button="vm.on.postCommentToFeed(value)"
              message="feed.postDefaults.message"
              attachment="feed.postDefaults.attachment"
              address="feed.postDefaults.address"
              location="feed.postDefaults.location"
              )  
          ng-include(src="'events/post.html'")  

        
    ion-list.control-panel
      ion-item.item-divider
        p control panel
                  
  ion-fab(
    animation="fade"
    xxlive-displace="false"
    ng-click="vm.on.fabClick($event, vm)"
    )
    i.icon.ion(
      ng-class="vm.settings.show.fabIcon"
      )
