// recipe/recipe.jade
ion-view.events(
  id="{{vm.viewId}}"
  view-title="{{vm.title}} {{vm.showRowcount()}}"
  ) 
  div.scope-locals.hide
    {{ show=vm.settings.show;'' }}

  ion-nav-buttons(side="secondary") 
    button.button.button-icon.button-clear.ion-map(
      ng-click="show.map = !show.map"
    )
      
  div(
    ng-show="show.newTile"
  )
    div.bar.has-header.bar-inset-wrap.bar-subheader
      div.item-input-inset.no-padding
        div.item-input-wrapper
          i.icon.ion-link.larger
          new-tile(
            style="width:100%;"
            return-close="true"
            is-fetching="show.spinner.newTile"
            on-complete="vm.on.submitNewTile(result)"
          )  
        button.button.button-dark.button-clear
          i.icon.ion-ios-arrow-forward(
            ng-show="!show.spinner.newTile"
          )
          ion-spinner(
            icon="ios-small"
            ng-show="show.spinner.newTile"
          )

  map-view(
    mapId="vm.viewId"
    rows="vm.rows"
    keymap="{{vm.markerKeymap}}"
    selected-id="vm.selectedItemId"
    show="show.map"
    )
  
  ion-content.map-view-list(
    fab-scroll-container
    delegate-handle="events-list-scroll"
    overflow-scroll='true'
    scroll-sista="header-subheader"
    scroll-sista-pause="{{show.map}}"
  ) 

    search-refresher(
      on-refresh="vm.on.refresh()"
      )
      set-location
 
    list-item-container.content.condensed(
      collection="vm.rows"
      scroll-handle="events-list-scroll"
      summary-min-width="320"
      detail-max-width="720"
      show-detail-inline="true"
      item-height="160"
      todo-use-collection-repeat="true"
      selected-id="vm.selectedItemId"
      detail-by-reference="true"
    )

      ng-include(src="'events/events.fb-tile.html'" )
    
  ion-fab(
    animation="fade"
    ng-click="vm.on.fabClick($event, vm)"
    )
    i.icon.ion(
      ng-class="vm.settings.show.fabIcon"
      )      
