// recipe/recipe.jade
ion-view.events(
  id="{{vm.viewId}}"
  view-title="{{vm.title}} {{vm.showRowcount()}}"
  ) 
  div.scope-locals.hide
    {{ show=vm.settings.show;'' }}

  ion-nav-buttons(side="secondary") 
    button.button.button-icon.button-clear.ion-map(
      ng-click="vm.on.showOnMap($event)"

    )

  map-view(
    mapId="vm.viewId"
    rows="vm.mapRows"
    keymap="{{vm.markerKeymap}}"
    selected-id="vm.selectedItemId"
    show="show.map"
    marker-type="vm.settings.view.mapMarker"
    )
  
  ion-content.map-view-list(
    fab-scroll-container
    delegate-handle="events-list-scroll"
    overflow-scroll='true'
    scroll-sista="header-subheader"
    scroll-sista-pause="{{show.map}}"
  ) 

    search-refresher(
      reveal="show.overscrollTile()"
      on-reveal="vm.on.overscrollReveal(value)"
      )
      ion-slides(
        options="vm.pullToReveal.options"
        slider="vm.pullToReveal.slider"
        )
        ion-slide-page
          tile-set-location
        ion-slide-page
          tile-create-new(
            on-new-tile="vm.on.submitNewTile(result)"
            )
        
 
    list-item-container.content.condensed(
      collection="vm.rows"
      scroll-handle="events-list-scroll"
      summary-min-width="320"
      detail-max-width="720"
      show-detail-inline="true"
      item-height="160"
      todo-use-collection-repeat="true"
      selected-id="vm.selectedItemId"
      detail-by-reference="true"
    )

      ng-include(src="'events/events.fb-tile.html'" )
    
  ion-fab(
    animation="fade"
    ng-click="vm.on.fabClick($event, vm)"
    )
    i.icon.ion(
      ng-class="vm.settings.show.fabIcon"
      )      
