//- placeholder.tile.html
//- transclude using ng-repeat="$item in collection"
//- NOTE: ion-item(ui-sref="") doesn't work with 
//-   ionicMaterial CSS.  use div.item instead

list-item-summary.animate-fade-slide-in-right(
  opt-collection="vm.rows"
)
  div.scope-locals.hide
    {{ vm=$parent.$parent.vm;''}}
    {{ $me=$parent.$root.currentUser;''}}
    {{ $owner=vm.collHelpers.findOne('User', $item.ownerId);'' }}
    {{ $owner.$isOwner=$item.ownerId==$me._id;'' }}
  div.tile.event.item.item-complex.content.ink(
    ui-sref="app.event-detail({'id':$item._id})"
  )
    div.hero.content.has-mask(style="height:160px;")
      {{ $$host=$item.fetchHost();'' }}
      div.item-avatar-right.ink
        img.ink(
          ng-src="{{$$host.profile.face}}"
          ng-click="$event.stopImmediatePropagation()"
          ui-sref="app.profile({'username':$$host.username})"
        )
      
      div.icon-bar.bottom-toolbar.condensed.light(
        ng-show="$item['title']"
        ng-click="$event.stopImmediatePropagation()"
        )
        i.button.button-clear.larger.ion-heart.ink(
          ng-class="vm.RecipeM.isFavorite($item) && 'selected'"
          ng-click="vm.on.favorite($event, $item)"
          )
        i.button.button-clear.larger.ion-map.ink(
          ng-click="vm.on.showLocationOnMap($event, $item)"
          )
        i.button.button-clear.larger.ink.hide(
          ng-class="{'ion-edit': $owner.$isOwner, 'ion-fork': !$owner.$isOwner}"
          ng-click="action = $owner.$isOwner ? 'edit' : 'forkTile'; vm.on[action]($event, $item); "
          )         
        i.button.button-clear.ion-ios-upload.larger.ink(
          )
      div.feature.image(
        bg-image="{{$item['image']}}"
      )
    div.has-mask-wrap
      h2.line-clamp-1 {{$item.title}}
      p.hide(style="margin-top:0;") {{$item['description']}}
