//- ion-list
div(ng-repeat="$post in event | eventFeedFilter track by $post.head.id" )
  ion-item.item-complex.item-post 
    div.hide 
      {{vm=$parent.$parent.$parent.vm;''}}
      {{$postHead = $post.head;$postBody=$post.body;''}}
    div.item-body.host-actions(
      ng-show='vm.moderator.requiresAction($post)'
      )
      div.card
        ion-item.item-divider.item-balanced
          div Moderator Actions
        ion-item.item-text-wrap
          b.padding-right {{$postHead.$$owner.displayName}} 
          span.padding-right has requested {{$postBody.seats}} seats at the table.
        div.item.item-complex.item-balanced.button-bar.condensed
          button.button.button-balanced(
            ng-click="vm.moderator.reject($event, vm.event, $post)"
            )
            i.icon.ion-close-circled &nbsp; Decline
          button.button.button-balanced
            i.icon.ion-chatbox(
            ) &nbsp; Message
          button.button.button-balanced(
            ng-click="vm.moderator.accept($event, vm.event, $post)"
            )
            i.icon.ion-checkmark-circled &nbsp; Accept

    div.item.item-avatar
      div.avatar-wrap
        img.item-image.ink(
          ng-src="{{$postHead.$$owner.face}}"
          ng-click="$event.stopImmediatePropagation()"
          ng-if="hack_delay_uiSref = $post"
          ui-sref="app.profile({id: '{{$postHead.ownerId}}' })"
          width="40"
        )
      div.header
        b.padding-right {{$postHead.$$owner.displayName}}
        p.item-text-wrap 
          span.time-ago.padding-right(am-time-ago="$postHead.createdAt")
          span.padding-right(
            ng-if="$postBody.location"
            ) 
            i.icon.ion-location(
              ) &nbsp;
              {{$postBody.location.address}}
        
    div.item-body.post-body
      
      p.body {{$postBody.message}}

      div.tile.recipe.item.item-complex.content.ink(
        ng-if="$postBody.attachment.id"
      ) 
        div.hide {{$item=$postBody.attachment;''}}
        div.hero.content(style="height:160px;")
          div.icon-bar.top-right-toolbar.condensed.light(
            ng-click="$event.stopImmediatePropagation()"
            )
            i.button.button-clear.larger.ion-heart.ink(
              ng-class="{'selected':$item.favorite}"
              )     
            i.button.button-clear.larger.ion-map.ink(
              xxx-ui-sref="app.map({'id':{{ $item.id }} })"
              )
            i.button.button-clear.larger.ink(
              ng-class="{'ion-edit': $item.isOwner, 'ion-fork': !$item.isOwner}"
              ng-click="action = $item.isOwner ? 'edit' : 'forkTile'; vm.on[action]($postHead.eventId, $item); "
              )         
            i.button.button-clear.ion-ios-upload.larger.ink(
              )
          div.feature.image(
            bg-image="{{$item['image']}}"
          )
        div.body.padding
          div.title.line-clamp-1 {{$item['title']}}
          p.description.line-clamp.line-clamp-2(
            ng-if="$item['description']"
            ) {{$item['description']}}
          p.site_name(
            ng-if="$item['site_name']"
            )  {{$item['site_name']}}

    div.item-body.post-actions
      div.likes
        div(ng-show="$postHead.likes.length")
          span(ng-repeat="person in $postHead.likes") 
            a(
              ui-sref="app.profile({id:'{{person.id}}' })"
              ) {{$index ? ',':''}} {{person.displayName}}
          span  &nbsp;likes this.

      div.button-bar.condensed.positive 
        button.button.button-icon.ion-heart.positive(
          ng-click="vm.post.like($event, $post)"
          ng-class="{'balanced': $postHead.likes.indexOf(vm.me) >= 0 }"
          ) &nbsp; Like
        button.button.button-icon.ion-chatbox.positive(
          ng-click="vm.post.showCommentForm($event)"
          ) &nbsp; Comment
        button.button.button-icon.ion-share.positive &nbsp; Share

    div.item-body.post-comments.hide
      div.post-comment(
        ng-repeat="$comment in $postBody.comments"
        ) 
        div.hide {{owner=$comment.head.$$owner;''}}
        div.avatar-wrap 
          img.item-image.ink(
            ng-src="{{owner.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{owner.id}}' })"
            width="40"
          )
        div.comment.item-text-wrap
          b.padding-right {{owner.displayName}} 
          span.padding-right {{$comment.body.comment}}
          span.time-ago.padding-right(am-time-ago="$comment.head.createdAt")
          div.likes
            div
              span(ng-show="$comment.head.likes.length")
                span(ng-repeat="person in $comment.head.likes")
                  {{$index ? ',':''}} 
                  a(
                    ui-sref="app.profile({id:'{{person.id}}' })"
                    ) {{person.displayName}}
                span  &nbsp;likes this. &mdash;&nbsp;
              a(
                ng-click="vm.post.like($event, $comment); $event.preventDefault()"
                href="#"
                ng-bind="$comment.head.likes.indexOf(vm.me)===-1 ? 'like' : 'unlike'"
              )

      div.comment-form
        div.hide {{owner=vm.me;''}}
        div.wrap
          div.avatar-wrap
            img.item-image.ink(
              ng-src="{{owner.face}}"
              ng-click="$event.stopImmediatePropagation()"
              ng-if="hack_delay_uiSref = owner"
              ui-sref="app.profile({id: '{{owner.id}}' })"
              width="40"
            )
          textarea.comment(
            placeholder="Write a comment..."
            )
        div.actions.text-right
          button.button.button-small.button-clear.button-outline.button-positive(
            ng-click="vm.post.postComment($event, $post)"
            )
            span.padding-horizontal Post
