//- ion-list
div(ng-repeat="$post in event.feed track by $post.id" )
  ion-item.item-complex.item-post {{vm=$parent.$parent.$parent.vm;''}}
    div.item-body.host-actions(
      ng-show='$post.type=="Participation"'
      ng-if="vm.post.acl.isModerator(vm.event)"
      )
      div.card
        ion-item.item-divider.item-balanced
          div Moderator Actions
        ion-item.item-text-wrap
          b.padding-right {{$post.owner.displayName}} 
          span.padding-right has requested {{$post.seats}} seats at the table.
        div.item.item-complex.item-balanced.button-bar.condensed
          button.button.button-balanced
            i.icon.ion-close-circled &nbsp; Decline
          button.button.button-balanced
            i.icon.ion-chatbox(
            ) &nbsp; Message
          button.button.button-balanced
            i.icon.ion-checkmark-circled &nbsp; Accept

    div.item.item-avatar {{owner=$post.owner;''}}
      div.avatar-wrap
        img.item-image.ink(
          ng-src="{{owner.face}}"
          ng-click="$event.stopImmediatePropagation()"
          ui-sref="app.profile({id: '{{owner.id}}' })"
          width="40"
        )
      div.header
        b.padding-right {{owner.displayName}}
        p.item-text-wrap 
          span.time-ago.padding-right(am-time-ago="$post.createdAt")
          span.padding-right(
            ng-if="$post.location"
            ) 
            i.icon.ion-location(
              ) &nbsp;
              {{$post.location.address}}
        
    div.item-body.post-body
      
      p.body {{$post.message}}

      div.tile.recipe.item.item-complex.content.ink(
        ng-if="$post.attachment.id"
      ) {{$item=$post.attachment;''}}
        div.hero.content(style="height:160px;")
          div.icon-bar.top-right-toolbar.condensed.light(
            ng-click="$event.stopImmediatePropagation()"
            )
            i.button.button-clear.larger.ion-heart.ink(
              ng-class="{'selected':$item.favorite}"
              )     
            i.button.button-clear.larger.ion-map.ink(
              xxx-ui-sref="app.map({'id':{{ $item.id }} })"
              )
            i.button.button-clear.larger.ink(
              ng-class="{'ion-edit': $item.isOwner, 'ion-fork': !$item.isOwner}"
              ng-click="action = $item.isOwner ? 'edit' : 'forkTile'; vm.on[action]($post.eventId, $item); "
              )         
            i.button.button-clear.ion-ios-upload.larger.ink(
              )
          div.feature.image(
            bg-image="{{$item['image']}}"
          )
        div.body.padding
          div.title.line-clamp-1 {{$item['title']}}
          p.description.line-clamp.line-clamp-2(
            ng-if="$item['description']"
            ) {{$item['description']}}
          p.site_name(
            ng-if="$item['site_name']"
            )  {{$item['site_name']}}

    div.item-body.post-actions
      div.likes {{ $post.likes=[$post.owner];''}}
        span(ng-repeat="person in $post.likes") #[a(ui-sref="app.profile({id: '{{person.id}}' })"){{person.displayName}} &nbsp;]
        span likes this.

      div.button-bar.condensed.positive
        button.button.button-icon.ion-heart.positive &nbsp; Like
        button.button.button-icon.ion-chatbox.positive(
          ng-click="vm.post.showCommentForm($event)"
          ) &nbsp; Comment
        button.button.button-icon.ion-share.positive &nbsp; Share

    div.item-body.post-comments.hide
      div.post-comment(
        ng-repeat="$comment in $post.comments"
        ) {{owner=$comment.owner;''}}
        div.avatar-wrap 
          img.item-image.ink(
            ng-src="{{owner.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{owner.id}}' })"
            width="40"
          )
        div.comment.item-text-wrap
          b.padding-right {{owner.displayName}} 
          span.padding-right {{$comment.comment}}
          span.time-ago.padding-right(am-time-ago="$comment.createdAt")

      div.comment-form
        div.avatar-wrap
          img.item-image.ink(
            ng-src="{{owner.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: '{{owner.id}}' })"
            width="40"
          )
        textarea.comment(
          xxauto-input
          xxreturn-close="false"
          xxng-model="commentField"
          placeholder="Write a comment..."
          ng-blur="vm.post.postComment($event, $post)"
          )







