//- blocks/components/new-tile.template.html
//
style#new-tile-style
ion-modal-view#new-tile-modal-view
  ion-header-bar.bar-positive 
    h1.title Create Tile
    button.button.button-icon.button-clear.ion-close(
      ng-click="closeModal('CANCELED')"
    )
  ion-content {{mm.data = data;''}}
  
    
      
    div.list
      div.preview
        div.tile.recipe.item.item-complex.content.ink
          div.hero.content(style="height:160px;")
            div.feature.image(
              bg-image="{{mm.data.image}}"
            )
          div.body.padding
            div.title.line-clamp-1 {{mm.data.title}}
            p.description.line-clamp.line-clamp-2 {{mm.data.description}}
            p {{mm.data.site_name}}
      div.body
        ion-input.item.item-input.item-stacked-label
          ion-label Title
          input(type="text" ng-model="mm.data.title" 
            auto-input 
            placeholder="Title" 
            )
        ion-input.item.item-input.item-stacked-label.patch-border
          ion-label Description
          textarea.item-input-textarea(
          rows="4" 
          ng-model="mm.data.description"
          auto-input
          placeholder="Description" )
        ion-input.item.item-input.item-stacked-label
          ion-label Source
          input(type="text" ng-model="mm.data.site_name" 
            auto-input 
            placeholder="Source"
            )
        ion-input.item.item-input
          i.icon.ion-share.positive.larger.padding-right
          input(type="text" ng-model="mm.data.url" 
            auto-input 
            placeholder="Enter Link"
            )
        ion-input.item.item-input
          i.icon.ion-image.positive.larger.padding-right
          input(type="text" ng-model="mm.data.image" 
            auto-input 
            placeholder="Enter Url for Photo" 
            )
          
        ion-input.item.item-input(ng-show="mm.data.address || mm.data.address===''")
          i.icon.ion-ios-location.positive.larger.padding-right
          input(
            ng-blur="mm.on.geocodeAddress()"
            type="text" 
            placeholder="Enter an Address to Set Location" 
            ng-model="mm.data.address" 
          )
          button.button.button-positive.button-clear(
            ng-show="mm.setting.hasGeolocation"
            ng-click="mm.on.locationClick($event,'CURRENT')" 
          )
            i.icon.ion-pinpoint.positive.larger(
              ng-hide="mm.setting.show.spinner.location"
            )
            ion-spinner(
              icon="ios-small"
              ng-show="mm.setting.show.spinner.location"
            )
        div.button-bar.condensed.positive
          button.button(ng-click="mm.on.cameraClick($event)")
            i.icon.ion-camera.positive
          button.button(ng-click="mm.on.locationClick($event)")
            i.icon.ion-ios-location.positive
          button.button.positive(ng-click="mm.on.done($event)") Done
  
