//- blocks/components/sign-in-register.template.html
style#sign-in-register-style.
  #sign-in-register-modal-view.modal {height:100%;}
  @media (min-width: 680px) {
    #sign-in-register-modal-view.modal { top: 10%; bottom: 10%; height:424px;}
  }
  #sign-in-register-modal-view.modal .swiper-pagination { display:none;}
  #sign-in-register-modal-view.modal .item { border-color: transparent;}
  #sign-in-register-modal-view.modal .error {padding-left: 24px;}
  #sign-in-register-modal-view.modal a {cursor: pointer;}
ion-modal-view#sign-in-register-modal-view(
  )
  div.scope-locals.hide
    {{show = sir.settings.show;''}}
  ion-slides(
    options="sir.ionSlidesCtrl.options"
    slider="sir.ionSlidesCtrl.slider"
    )
    ion-slide-page.sign-up
      ion-scroll
        div.list
          div.item
            button.button.button-block.button-positive.light.ion-social-facebook(
              ng-click="sir.on.AP.loginWithFacebook()"
              ) 
                span.spinner-wrap Sign-up with Facebook
                  ion-spinner.spinner-light(
                    icon-"ios-small"
                    ng-show="show.facebookLoading"
                  )
          div.item
            div.text-center.larger &mdash; or &mdash;
          div.padding-horizontal
            form(name="registerForm" novalidate="" ng-submit="sir.on.AP.register(person)")
              ion-item.item-input
                i.icon.ion-person.padding-horizontal.larger
                input(type="text" name="Username" placeholder="Username" ng-model="person.username" required)
              div.error(ng-show="sir['error']['username']")
                span.assertive {{sir['error']['username']}}

              ion-item.item-input
                i.icon.ion-email.padding-horizontal.larger
                input(type="text" name="Email" placeholder="Email" ng-model="person.email" required)
              div.error(ng-show="sir['error']['email']")
                  span.assertive {{sir['error']['email']}}
              ion-item.item-input
                i.icon.ion-locked.padding-horizontal.larger
                input(type="password" name="Password" placeholder="Password" ng-model="person.password" required)
              div.error(ng-show="sir['error']['password']") 
                span.assertive {{sir['error']['password']}}
              ion-item.item-input.hide
                i.icon.ion-locked.padding-horizontal.larger
                input(type="password" name="PasswordRepeat" placeholder="Again" ng-model="person.passwordRepeat")
              div.error(ng-show="sir['error']['passwordRepeat']")
                span.assertive {{sir['error']['passwordRepeat']}}  
              div.item
                div.button-bar
                  button.button.button-balanced.button-outline(ng-click="closeModal('CANCELED')") Cancel
                  button.button.button-balanced(type="submit") Sign up
          div.padding-horizontal
            div.item.positive
              div.text-right 
                a(ng-click="sir.ionSlidesCtrl.setSlide('signin', $event)"). 
                  Have an account? Sign in #[i.icon.ion-android-arrow-forward.padding-right]
    ion-slide-page.sign-in
      ion-scroll
        div.list
          div.item
            button.button.button-block.button-positive.light.icon.ion-social-facebook(
              ng-click="sir.on.AP.loginWithFacebook()"
              ) &nbsp; Sign-in with Facebook
          div.item
            div.text-center.larger &mdash; or &mdash;
          div.padding-horizontal
            form(name="signInForm" novalidate="" ng-submit="sir.on.AP.loginWithPassword(person);")
              label.item.item-input
                i.icon.ion-person.padding-horizontal.larger
                input(type="text" name="Username" placeholder="Username" ng-model="person.username" required)
              div.error(ng-show="sir['error']['username']")
                span.assertive {{sir['error']['username']}}
              label.item.item-input
                i.icon.ion-locked.padding-horizontal.larger
                input(type="password" name="Password" placeholder="Password" ng-model="person.password" required)
              div.item
                div.button-bar
                  button.button.button-balanced.button-outline(ng-click="closeModal('CANCELED')") Cancel
                  button.button.button-balanced(type="submit") Sign in
          div.padding-horizontal
            div.item.positive.text-left
              div.pull-right
                a(ng-click="sir.ionSlidesCtrl.setSlide('password-reset', $event)") Forgot Password?
              a(ng-click="sir.ionSlidesCtrl.setSlide('signup', $event)").
                #[i.icon.ion-android-arrow-back.padding-left] Sign up
                
    ion-slide-page.password-reset
      ion-scroll
        div.list
          div.item
            button.button.button-block.button-positive.light.icon.ion-social-facebook(
              ng-click="sir.on.AP.loginWithFacebook()"
              ) &nbsp; Sign-up with Facebook
          div.item
            div.text-center.larger &mdash; or &mdash;
          div.item.item-text-wrap Please enter your Username or Email to reset your password.
          div.padding-horizontal
            form(name="passwordResetForm" novalidate="" ng-submit="sir.on.forgotPassword(person)")
              ion-item.item-input
                i.icon.ion-person.padding-horizontal.larger
                input(type="text" name="Username" placeholder="Username" ng-model="person.username" required)
              div.error(ng-show="sir['error']['username']")
                span.assertive {{sir['error']['username']}}

              ion-item.item-input
                i.icon.ion-email.padding-horizontal.larger
                input(type="text" name="Email" placeholder="Email" ng-model="person.email" required)
              div.error(ng-show="sir['error']['email']")
                  span.assertive {{sir['error']['email']}}
                   
              div.item
                div.button-bar
                  button.button.button-balanced.button-outline(ng-click="closeModal('CANCELED')") Cancel
                  button.button.button-balanced(type="submit") Reset Password
          div.padding-horizontal
            div.item.positive
              div.text-left 
                a(ng-click="sir.ionSlidesCtrl.setSlide('signin', $event)").
                  #[i.icon.ion-android-arrow-back.padding-left] Have an account? Sign in
                  
    
