div.ng-repeat-grid.row.list-item-summary
  div.list-item-wrap.col.col-full
    div.tile.overscroll-tile.item.item-complex.content.ink
      div.hero.content.has-mask-reverse(
        ng-click="sl.on.hide($event)"
        )

        div.feature.image(
          placeholder-data="bg-src" group="tile" index="{{Date.now()}}"
          width="sl.tileWidth()"
        )
      div.has-mask-wrap
        h2.line-clamp-1 Where do you want to be?
        div.search-wrap
          button.button.button-small.button-balanced(
            ng-click="sl.on.getCurrentPosition($event, 'CURRENT')"
            )
            i.icon.ion-navigate
            
          div.item-input-wrapper(style="background-color:white;")
            div.auto-input-wrapper
              input(
                style="width:100%;"
                on-blur="sl.on.locationClick($event, value)"
                type="text"
                auto-input
                return-close="true"
                placeholder="Enter a Location to Search" 
                ng-model="sl.search" 
              )
            
          button.button.button-small.button-balanced(
            ng-click="sl.on.getCurrentPosition($event)"
            )
            i.icon.ion-ios-arrow-forward
          
