//- blocks/components/address-map.template.jade
ion-view(
  id="{{vm.viewId}}"
  view-title="{{vm.title}}"
  ) 
  
  div.scope-locals.hide
    {{ show=vm.settings.show;'' }}
  
  map-view(
    mapId="vm.viewId"
    rows="vm.rows"
    keymap="{{vm.markerKeymap}}"
    selected-id="vm.selectedItemId"
    show="true"
    )

  ion-content.map-view-list.has-map(
    delegate-handle="map-list-scroll"
    )
    list-item-container.content.condensed(
      collection="vm.rows"
      scroll-handle="map-list-scroll"
      summary-min-width="320"
      detail-max-width="720"
      show-detail-inline="true"
      item-height="160"
      todo-use-collection-repeat="true"
      detail-by-reference="true"
      selected-id="vm.selectedItemId"
      xxx-on-select="vm.on.select($item,$index,silent)"
    )
      ng-include(src="'map/map.fb-tile.html'" )
