div#wizard-header.content.row.responsive-sm
  div.col.col-offset-25.col-50
    div.wizard-tile.item.item-complex.content.ink
      div.hero.content.has-mask-reverse(
        )
        div.feature.image(
          placeholder-data="bg-src" group="tile" index="{{Date.now()}}"
          width="tcw.tileWidth()"
        )
      div.has-mask-wrap
        h2.line-clamp-1 Host a Table
        div.search-wrap
          div.item-input-wrapper(style="background-color:white;")
            i.icon.ion-link.larger.padding-right
            div.auto-input-wrapper
              input(
                type="text"
                placeholder="Enter Title or Url for Table"
                auto-input
                ng-model="tcw.data.type"
                return-close="true"
                on-blur="tcw.on.beginTableWizard()"
                )
          button.button.button-small.button-balanced
            i.icon.ion-ios-arrow-forward(
              ng-show="!tcw.show.spinner"
            )
            ion-spinner.spinner-light(
              icon="ios-small"
              ng-show="tcw.show.spinner"
            )
//- create Table form 
div#wizard-body.content.row.responsive-sm
  div.col.col-offset-25.col-50
    div.scope-locals.hide
      {{tcw.me = $root.currentUser;}}
      {{myEvent = tcw.data;}}
    form(name="createEventForm" novalidate="" ng-submit="mm.submitEvent(myEvent, closeModal);")
      div.list
        div.item.item-avatar 
          img(ng-src="{{tcw.me.face}}")
          div.text-middle #[b{{tcw.me.displayName }}]: You are about to create a Table

        //- Title text  
        label.item.item-input.item-stacked-label
          span.input-label Title
          input(type="text" name="Title" placeholder="Title" 
            ng-model="myEvent.title")

        //- Description textarea
        label.item.item-input.item-stacked-label
          span.input-label Description
          textarea(placeholder="Description" 
            ng-model="myEvent.description"
            rows="3" maxlength='255')

        //- link text
        label.item.item-input
          span.input-label.icon-label
            i.icon.ion-image
          input(type="text" name="Link" placeholder="image url" 
            ng-model="myEvent.heroPic")  
            
            
        //- SeatTotal number / range
        div.item.item-complex
          label.item-input
            span.input-label Seats
            input(type="text" name="portions" min="1" max="12" ng-model="myEvent.seatsTotal")
          div.item-floating-label.range.range-positive
            i.icon.ion-ios-person.positive
            input(type="range" name="portions" min="0" max="12" ng-model="myEvent.seatsTotal")
            i.icon.ion-ios-people.positive            
            
        event-when-helper(
          when="tcw.data"
          on-update="tcw.on.updateWhen(data)"
          )
                      
        event-location-helper(
          location="tcw.data"
          on-update="tcw.on.updateLocation(data)"
          )

        div(ng-if="0")
          pl-multiple-select.item.item-input.item-icon-right(
            title="Menu Categories"
            options="mm.menuCategoryOptions"
            on-close="mm.menuCategoryParseSelected(options)"
            render-checkbox="true"

            )
            div
              div.input-label Menu Categories
              p.wrap {{mm.menuCategorySelected}}
            i.icon.ion-ios-arrow-forward
            



            

          //- Category select
          label.item.item-input.item-select
            div.input-label Category
            select(ng-model="myEvent.category")
              option(
                ng-repeat="value in mm.select['category']" 
                ng-bind="value"
                ng-selected="value==mm.select['category'][0]"
                )


          //- Cusine text or auto-complete
          label.item.item-input.item-select
            div.input-label Cuisine
            select(ng-model="myEvent.cuisine")
              option(
                ng-repeat="value in mm.select['cuisine']" 
                ng-bind="value"
                ng-selected="value==mm.select['cuisine'][0]"
                )


          //- style select
          label.item.item-input.item-select
            div.input-label Style
            select(ng-model="myEvent.style")
              option(
                ng-repeat="value in mm.select['style']" 
                ng-bind="value"
                ng-selected="value==mm.select['style'][0]"
                )

          //- attire text or auto-complete
          label.item.item-input.item-select
            div.input-label Attire
            select(ng-model="myEvent.style")
              option(
                ng-repeat="value in mm.select['attire']" 
                ng-bind="value"
                ng-selected="value==mm.select['attire'][0]"
                )

          //- Inspiration text
          label.item.item-input.item-floating-label
            span.input-label Inspiration
            input(type="text" name="Inspiration" placeholder="Inspire your guests to get excited" ng-model="myEvent.inspiration")

          //- aspiration plStarRating
          div.item.item-input
            span.input-label Aspiration
            pl-star-ratings.inline(
              value="myEvent.aspiration" 
              max-value="3" 
              read-only="false"
            )




        //- pl-event-settings(
        //-   event="mm.event"
        //-   on-change=""
        //-   type="{{mm.eventType}}"
        //-   )


      div.item
        div.button-bar
          button.button.button-outline.button-stable.button-flat.ink-dark(
          ng-click="closeModal('CANCELED')"
          ) 
            span.dark Cancel
          button.button.button-positive.button-flat.ink(
          type="submit"
          )   Submit
