// feed/feed.jade
ion-view.event-feed(
  view-title="{{vm.event.title || vm.title}}"
  id="{{vm.feedId}}"
  hide-back-button="true"
  )
  ion-nav-buttons(side="primary")
    button.button.button-icon.button-clear.ion-ios-arrow-back(
      ng-click="vm.on.gotoEvent($event)"
      )

  ion-content.event-detail.has-header(
    fab-scroll-container
    delegate-handle="feed-item-scroll"
    scroll-sista="header"
  )
    div.row.responsive-sm.no-padding
      div.col
        filtered-feed(
          reactive-context="vm"
          show="vm.settings.show"
          event="vm.event"
          filtered-feed="vm.$$filteredFeed"
          )
    
  
  ion-fab(
    animation="fade"
    ng-click="vm.on.fabClick($event, vm)"
    )
    i.icon.ion(
      ng-class="vm.settings.show.fabIcon"
      ) 
  
