//- ion-list
ion-list.feed
  div.scope-locals.hide
    {{ vm=ff.reactiveContext;''}}
    {{ $postDefaults=ff.feedHelpers.postDefaults;''}}
    {{ userId = Meteor.userId() }}
  ion-item.item-divider.item-button-right.item-royal
    p
      span.light feed
    button.button.button-icon.button-light.button-clear.ion-plus(
      ng-click="ff.feedHelpers.showMessageComposer($event);$event.stopImmediatePropagation()"
      )
  message-composer(
      ng-show="ff.feedHelpers.show.messageComposer"
      header-text="Post to Feed"
      placeholder-text="What are you thinking..."
      post-button="ff.on.postToFeed(value)"
      message="$postDefaults.message"
      attachment="$postDefaults.attachment"
      address="$postDefaults.address"
      location="$postDefaults.location"
      )
      
  div(ng-repeat="$post in ff.filteredFeed track by $post._id" )
    ion-item.item-notification.tile.item-complex(
       ng-if="$post.type==='Notification'"
      )
      div.card
        ion-item.item-calm.item-button-right(
          )
          button.button.close.button-clear.button-icon.ion-close-circled.button-dark(
            ng-click="ff.postHelpers.dismissItem($event, $post)"
            )
          div.item-text-wrap.dark(
            ng-bind-html="$post.body.message"
            )
        
      
      
      
    ion-item.item-complex.item-post(
       ng-if="$post.type!='Notification'"
      ) 
      div.scope-locals.hide
        {{$postHead = $post.head;$postBody=$post.body;''}}
        {{$owner = ff.collHelpers.findOne('User', $postHead.ownerId);''}}
        {{$chatWithId = $postHead.recipientIds[0];''}}
        
      //- Invitation Actions  
      div.card.invitation-actions(
        ng-if='ff.inviteActions.requiresAction($post)'
        )
        ion-item.item-divider.item-royal
          div Invitation Actions
        ion-item.item-text-wrap
          b.padding-right {{$owner.profile.displayName}} 
          span.padding-right has invited you to join this table.
        div.item.item-complex.item-balanced.button-bar.condensed
          button.button.button-royal(
            ng-click="ff.inviteActions.decline($event, $post)"
            )
            i.icon.ion-close-circled &nbsp; Decline
          button.button.button-royal(
            ng-click="ff.inviteActions.message($event, $post)"
            )
            i.icon.ion-chatbox(
            ) &nbsp; Message
          button.button.button-royal(
            ng-click="ff.inviteActions.accept($event, $post)"
            )
            i.icon.ion-checkmark-circled &nbsp; Accept 
                      
      //- Moderator Actions
      div.card.moderator-actions(
        ng-if='vm.moderatorActions.requiresAction($post)'
        )
        ion-item.item-divider.item-balanced
          div Moderator Actions
        ion-item.item-text-wrap
          b.padding-right {{$owner.profile.displayName}} 
          span.padding-right has requested {{$postBody.seats}} seats at the table.
        div.item.item-complex.item-balanced.button-bar.condensed
          button.button.button-balanced(
            ng-click="vm.moderatorActions.decline($event, vm.event, $post)"
            )
            i.icon.ion-close-circled &nbsp; Decline
          button.button.button-balanced(
            ng-click="vm.moderatorActions.message($event, vm.event, $post)"
            )
            i.icon.ion-chatbox(
            ) &nbsp; Message
          button.button.button-balanced(
            ng-click="vm.moderatorActions.accept($event, vm.event, $post)"
            )
            i.icon.ion-checkmark-circled &nbsp; Accept
             

      div.post-head.item.item-avatar-left(
        ng-class="{'private item-avatar-right':$chatWithId}"
        )
        div.scope-locals.hide
          {{ $chatWith = ff.collHelpers.findOne('User', $chatWithId);''}}
        div.avatar-wrap
          img.item-image.ink(
            ng-src="{{$owner.profile.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: $postHead.ownerId })"
            width="40"
          )
        div.header
          b.padding-right {{$owner.profile.displayName}}
          b.padding-left.pull-right(
            ng-if="$chatWithId"
            ) {{$chatWith.profile.displayName}}
          p.item-text-wrap 
            span.time-ago.padding-right(am-time-ago="$postHead.createdAt")
            span.padding-right(
              ng-if="$postBody.location"
              ) 
              i.icon.ion-location(
                ) &nbsp;
                {{$postBody.location.address}}
        div.avatar-wrap.right(
          ng-if="$chatWithId"
          )
          img.item-image.ink(
            ng-src="{{$chatWith.profile.face}}"
            ng-click="$event.stopImmediatePropagation()"
            ui-sref="app.profile({id: $chatWithId })"
            width="40"
          )      
          
      div.item-body.post-body
        
        p.body {{$postBody.message}}

        div.tile.recipe.item.item-complex.content.ink(
          ng-if="$postBody.attachment._id"
        ) 
          div.scope-locals.hide
            {{$type = $postBody.attachment.type || $postBody.attachment.className;''}}
            {{$attachment = ff.collHelpers.findOne($type, $postBody.attachment._id);''}}
          div.hero.content(style="height:160px;")
            div.icon-bar.top-right-toolbar.condensed.light(
              ng-click="$event.stopImmediatePropagation()"
              )
              i.button.button-clear.larger.ion-heart.ink(
                ng-class="{'selected':$attachment.favorite}"
                )     
              i.button.button-clear.larger.ion-map.ink(
                xxx-ui-sref="app.map({'latlon':{{ $postBody.location.latlon }} })"
                )
              i.button.button-clear.larger.ink(
                ng-class="{'ion-edit': $attachment.isOwner, 'ion-fork': !$attachment.isOwner}"
                ng-click="action = $attachment.isOwner ? 'edit' : 'forkTile'; vm.on[action]($postHead.eventId, $attachment); "
                )         
              i.button.button-clear.ion-ios-upload.larger.ink(
                )
            div.feature.image(
              bg-image="{{$attachment['image']}}"
            )
          div.body.padding
            div.title.line-clamp-1 {{$attachment['title']}}
            p.description.line-clamp.line-clamp-2(
              ng-if="$attachment['description']"
              ) {{$attachment['description']}}
            p.site_name(
              ng-if="$attachment['site_name']"
              )  {{$attachment['site_name']}}

      div.item-body.post-actions
        div.likes
          span(ng-show="$postHead.likes.length")
            span(ng-repeat="userId in $postHead.likes")
              {{$person=ff.collHelpers.findOne('User', userId);''}} 
              a(
                ui-sref="app.profile({id: $person._id })"
                ) {{$person.profile.displayName}}{{$last ? '':','}}
            span  &nbsp;likes this.
          a(
            ng-show="$postBody.comments.length"
            ng-class="{'padding-left': $postHead.likes.length}"
            ng-click="ff.postHelpers.showCommentForm($event, $post)"
            ) comments ({{$postBody.comments.length}})

        div.button-bar.condensed.positive 
          button.button.button-icon.ion-heart.positive(
            ng-click="ff.postHelpers.like($event, $post)"
            ng-class="{'balanced': $postHead.likes.indexOf(vm.me) >= 0, 'disabled':$chatWith }"
            ) &nbsp; Like
          button.button.button-icon.ion-chatbox.positive(
            ng-click="ff.postHelpers.showCommentForm($event, $post)"
            ) &nbsp; Comment
          button.button.button-icon.ion-share.positive(
            ng-class="{'disabled':$chatWith }"
            ) &nbsp; Share

      div.item-body.post-comments.hide(
        )
        div.post-comment(
          ng-repeat="$comment in $postBody.comments | dateFilter"
          ) 
          div.scope-locals.hide
            {{$owner = ff.collHelpers.findOne('User', $comment.head.ownerId);''}}
          div.avatar-wrap 
            img.item-image.ink(
              ng-src="{{$owner.profile.face}}"
              ng-click="$event.stopImmediatePropagation()"
              ui-sref="app.profile({id: $owner._id })"
              width="40"
            )
          div.comment.item-text-wrap
            b.padding-right {{$owner.profile.displayName}} 
            span.padding-right {{$comment.body.comment}}
            span.time-ago.padding-right(am-time-ago="$comment.head.createdAt")
            div.likes.likes-and-comments
              div
                span(ng-show="$comment.head.likes.length")
                  span(ng-repeat="userId in $comment.head.likes")
                    {{$person=ff.collHelpers.findOne('User', userId);''}}
                    a(
                      ui-sref="app.profile({id: $person._id })"
                      ) {{$person.profile.displayName}}{{$last ? '':','}}
                  span  &nbsp;likes this. &mdash;&nbsp;
                a(
                  ng-click="ff.postHelpers.like($event, $comment); $event.preventDefault()"
                  href="#"
                  ng-bind="$comment.head.likes.indexOf(vm.me)===-1 ? 'like' : 'unlike'"
                )

        div.comment-form
          div.wrap
            div.avatar-wrap
              img.item-image.ink(
                ng-src="{{ff.me.profile.face}}"
                ng-click="$event.stopImmediatePropagation()"
                ui-sref="app.profile({id: ff.me._id })"
                width="40"
              )
            textarea.comment(
              placeholder="Write a comment..."
              )
          div.actions.text-right
            button.button.button-small.button-clear.button-outline.button-positive(
              ng-click="ff.postHelpers.postComment($event, $post)"
              )
              span.padding-horizontal Post
