//- people/my-profile.html
ion-view(view-title="{{vm.title}}") 
  div.scope-locals.hide
    {{person=vm.person; ''}}
    {{view=vm.settings.view;''}}
    {{show=vm.settings.show;''}}
  ion-content#profile.has-header.light-bg(
    scroll-sista
  )
    div.hero-a.content
      div.hero-wrap.has-mask-reverse
        div.icon-bar.condensed.bottom-toolbar.light(
          ng-show="view.show=='profile'"
          ng-click="$event.stopImmediatePropagation()"
          )
          i.button.button-clear.ion-heart.larger.ink(
            ng-class="person.favorite && 'selected'"
            ng-click="person.favorite = !person.favorite"
            )
          i.button.button-clear.ion-ios-upload.larger.ink
        div.hero-bg.blur(bg-image="{{person.face}}")
      div.text-center.padding.content
        h2.light.text-center {{person.displayName}}
        div.content
          img.face(
            bg-image="{{person.face}}"
          )
          button.button.button-clear.image-attach(
            ng-click="vm.on.imageAttachToggle($event, true)"
            )
            i.icon.ion-camera
          

    div(ng-switch="view.show" ng-show="view.show")
      div#description.content.row.responsive-sm(ng-switch-when="signin")
        div.col.col-offset-25.col-50
          div.text-center.padding
            h3 Take off your coat #[span.nowrap and stay awhile...]
          div.text-center.padding
            button.button.button-positive(
              ng-click="vm.on.showSignInRegister('signin')"
              ) Sign in

      div#profile.content.row.responsive-sm(ng-switch-when="profile")
        div.col.col-offset-25.col-50
            div.list
              div.scope-locals.hide
                {{ fullname = vm.on.getFullNameLabel(person) ;'' }}
                {{ email = person.email || person.emails[0].address }}
              div.image-attach-helper-wrap(
                ng-show="show.imageAttach"
                )
                image-attach-helper(
                  placeholder="Enter image url or click icon"
                  preview="false"
                  src="vm.person.newFace"
                  on-update="vm.on.updateImage(data)"
                  )
                button.button.button-flat(
                  ng-click="vm.on.imageAttachToggle($event, false)"
                  )
                  i.icon.ion-close-circled.assertive
                button.button.button-flat(
                  ng-click="vm.on.imageAttachSave($event)"
                  )
                  i.icon.ion-checkmark-circled.balanced
                
                
              ion-input.item-input 
                ion-label.text-right
                  i.icon.ion-person.padding-horizontal
                input.capitalize(type="text" ng-model="fullname" readonly)
              ion-input.item-input
                ion-label.text-right
                  i.icon.ion-email.padding-horizontal
                input(type="text" ng-model="email" readonly)  
              ion-input.item-input
                ion-label.text-right
                  i.icon.ion-quote.padding-horizontal
                input(type="text" ng-model="person.about" readonly)
            div.text-center.padding
              button.button.button-positive(
                ng-click="vm.on.getLocation($event)"
                )
                i.icon.ion-navigate
                  span.padding-left Set Current Location
            div.text-center.padding
              button.button.button-assertive(
                ng-click="vm.on.signOut()"
                ) Sign out
                
                
                
