//- events/modal-actions/event-booking.modal.jade
ion-modal-view#request-seat-modal {{item=mm.event; me=mm.person; show=mm.settings.show;''}}
  ion-header-bar.bar-balanced
    h1.title Join the Table
  ion-content
    div.dark-bg.content.padding
      div.list.condensed {{host=mm.host;''}}
        div.item.item-divider.item-positive
          div.light.larger {{item.title}}
        div.item.item-avatar
          img(ng-src="{{host.face}}" ui-sref="app.profile({id:'{{host.id}}'})")
          span.face-overlay(ng-if="!host.face" ng-bind="host.firstname[0]")
          h2 Hosted by 
            b {{ host.displayName }}
          p {{ item.startTime | amCalendar }} 
            span.dark(
              am-time-ago="item.startTime"
              ) 
        div.item.item-text-wrap
          p 
            b {{item.title}} 
            {{ item.description }}
        div.item.item-icon-left 
          i.icon.ion-ios-people
          {{ item.seatsTotal }} seats / {{ item.seatsOpen }} open


    form(name="bookingForm" novalidate="" ng-submit="mm.on.submitBooking(mm.person, mm.event, mm.booking, closeModal)")

      div.list {{ booking = mm.booking;'' }}
        div.item.item-avatar(ng-if="mm.isAnonymous()==false")
          img(ng-src="{{me.face}}")
          span.face-overlay(ng-if="!me.face" ng-bind="me.firstname[0]")
          b {{me.displayName }} - You are requesting a seat(s) for this Table

        ion-input.item-input.text-and-range
          ion-label Seats
          div.item-input-wrapper
            input(type="text" name="seats" min="0" max="{{booking.maxSeats}}" size="2" ng-model="booking.seats")
            div.range.range-positive
              i.icon.ion-ios-person.positive
              input(type="range" name="seats" min="0" max="{{booking.maxSeats}}" ng-model="booking.seats")
              i.icon.ion-ios-people.positive
        ion-input.item-input.item-stacked-label.message-composer.make-directive
          ion-label Message
          textarea(ng-model="booking.comment" 
          placeholder="Send a message to the Table. Tell them what you bring to the party." 
          maxlength="165")
          div.attachment-container.padding-right(ng-show="mm.attachment")
            //- TODO: make a directive
            div.tile.recipe.item.item-complex.content.ink(
            )  {{$attachment=mm.attachment;''}}
              div.hero.content(style="height:160px;")
                div.icon-bar.top-right-toolbar.condensed.light(
                  ng-show="$attachment"
                  ng-click="$event.stopImmediatePropagation()"
                  )
                  i.button.button-clear.ion-edit.ink(
                    ng-click="mm.on.TILE.editTile($attachment)"
                    )
                  i.button.button-clear.ion-close.ink(
                    ng-click="mm.on.TILE.detachTile($attachment)"
                    )
                div.feature.image(
                  bg-image="{{$attachment['image']}}"
                )
              div.body.padding
                div.title.line-clamp-1 {{$attachment['title']}}
                p.description.line-clamp.line-clamp-2 {{$attachment['description']}}
                p. {{$attachment['site_name']}}
          div.button-bar.condensed.positive(
            ng-show="true"
            ng-click="$event.preventDefault();$event.stopImmediatePropagation();"
            )
            button.button(
              )
              i.icon.positive.ion-pizza.ink
            button.button(
              ng-click="mm.on.toggleShow(show, 'newTile', '.new-tile')"
              )
              i.icon.positive.ion-link.ink
            button.button
              i.icon.positive.ion-camera.ink(
              )
            button.button(
              ng-click="mm.on.toggleShow(show, 'location', '.location')"
              )
              i.icon.positive.ion-location.ink(
              )
          div.padding-vertical.new-tile(ng-show="show.newTile")
            div.item-input-inset.flex-icon-bar
              div.item-input-wrapper(
                style="margin-left:0;"
                )
                i.icon.ion-link.positive
                new-tile(
                  placeholder-text="Enter a link"
                  style="width:100%;"
                  return-close="true"
                  is-fetching="show.spinner.newTile"
                  on-complete="mm.on.TILE.attachTile(result)"
                )
              div.spinner-wrap
                i.icon.ion-ios-arrow-forward.positive(
                  ng-show="!show.spinner.newTile"
                )
                ion-spinner(
                  icon="ios-small"
                  ng-show="show.spinner.newTile"
                )
          div.padding-vertical.location(ng-show="show.location")
            div.item-input-inset.flex-icon-bar
              div.current-location.padding-right(
                ng-show="mm.geo.setting.hasGeolocation"
                ng-click="mm.on.locationClick($event,'CURRENT')" 
              )
                i.icon.ion-pinpoint.positive.larger(
                  ng-hide="mm.geo.setting.show.spinner.location"
                )
                ion-spinner(
                  icon="ios-small"
                  ng-show="mm.geo.setting.show.spinner.location"
                )
                
              div.item-input-wrapper
                i.icon.ion-ios-location.positive.larger.padding-right
                input(
                  ng-blur="mm.on.locationClick($event)"
                  type="text"
                  auto-input
                  placeholder="Enter an Address to Set Location" 
                  ng-model="mm.data.address" 
                )
              div.spinner-wrap
                i.icon.ion-ios-arrow-forward.positive(
                  ng-show="!show.spinner.newTile"
                )
                ion-spinner(
                  icon="ios-small"
                  ng-show="show.spinner.newTile"
                )
                
        //- AutoComplete field (sample)
        ion-input.item-input.item-stacked-label.item-input-inset(
          ng-if="false"
          )
          ion-label Auto Complete
          div.autocomplete-wrapper
            div.item-input-wrapper
              i.icon.ion-search.positive
              new-tile(
                placeholder-text="Enter a link"
                style="width:100%;"
                return-close="false"
                is-fetching="show.spinner.newTile"
                on-complete="mm.on.TILE.submitNewTile(result)"
                on-key-down="mm.on.searchTiles(value, set)"
                cancel-blur="!!mm.autocomplete.options.length"
              )
            div.list.autocomplete-list.padding-right(ng-show="mm.autocomplete.options.length")
              ion-item(
                ng-repeat="choice in mm.autocomplete.options"
                ng-click="mm.autocomplete.set(choice); mm.autocomplete.options=[] "
                )
                span {{choice.slice(0,20)}}

            
              
        

        div(ng-show="mm.isAnonymous()")  
          //- sign-in register joining
          div.list.card.condensed.anonymous-response-card
            div.item.item-divided.item-positive.
              How You'll Appear
            div.item.item-text-wrap.text-left.
              You must sign-in or sign-up first. 
              This will allow us to send notifications & messages.
            div.item.positive.text-left.sign-in-sign-up
              a.pull-right(ng-click="mm.on.signInRegister('signin', me)"). 
                Have an account? Sign in
              a(ng-click="mm.on.signInRegister('signup', me)").
                Sign up
            div.last-row

  ion-footer-bar
    div.button-bar.condensed.positive
      button.button.button-outline.button-stable.button-flat.ink-dark(
      ng-click="closeModal('CANCELED')"
      ) 
        span.dark Cancel
      button.button.button-balanced.button-flat.ink(
      ng-click="mm.on.submitBooking(mm.person, mm.event, mm.booking, closeModal)"
      ng-class="{disabled:mm.isValidated(mm.booking)==false}"
      ) Join
