//- placeholder.tile.html
//- transclude using ng-repeat="$item in collection"
//- NOTE: ion-item(ui-sref="") doesn't work with 
//-   ionicMaterial CSS.  use div.item instead

list-item-summary.animate-fade-slide-in-right(
) 
  span.
    {{mm0=$parent.$parent;''}}
  div.tile.recipe.item.item-complex.content.ink(
    ng-class="[$item.color,'bg'].join('-')"
    ng-click="$listItemDelegate.select($event, $item, $index)"
  )
    div.hero.content(style="height:160px;")
      div.icon-bar.top-right-toolbar.condensed.light(
        ng-show="$item['title']"
        ng-click="$event.stopImmediatePropagation()"
        )
        i.button.button-clear.larger.ion-heart.ink(
          ng-class="{'selected':$item.favorite}"
          ng-click="$listItemDelegate.favorite($event, $item, $index)"
          )     
        i.button.button-clear.ion-checkmark-circled.larger.ink(
          ng-class="{'selected':$listItemDelegate.selected() == $item}"
          ng-click="$listItemDelegate.select($event, $item, $index)"
          )
      div.feature.image(
        bg-image="{{$item['image']}}"
      )
    div.body.padding
      div.title.line-clamp-1 {{$item['title']}}
      p.description.line-clamp.line-clamp-2 {{$item['description']}}
      p. {{$item['site_name']}}

list-item-detail 
  //- $item == $listItemDelegate.selected(), e.g. selected model
  div.tile.tile-detail(
    xxx-ng-controller="RecipeDetailCtrl as dvm"
    )
    ion-item.item-complex.in.done
      div.item-body.padding
        div.title {{$item['title']}}
        p(style="margin-top:0;") {{$item['description']}}
      
    div.button-bar.condensed.positive(
      ng-show="true"
      ng-click="$event.stopImmediatePropagation()"
      )
      a.button(
        href="{{$item['url']}}"
        target="_blank"
        )
        i.icon.positive.ion-android-open.ink(
        )
      button.button(
        ng-click="$item.favorite = !$item.favorite"
        )
        i.icon.positive.ink(
        ng-class=" $item.favorite ? 'ion-ios-heart' : 'ion-ios-heart-outline'"
        ng-click="dvm.on.favorite($event, $item)"
        )
      button.button
        i.icon.positive.ion-checkmark-circled.larger.ink(
        )
