// home/home.jade
ion-view(
  id="home"
  view-title="{{vm.title}}"
  )
  ion-content(
    delegate-handle="home-list-scroll"
    scroll-sista="header"
    )
    list-item-container.content.condensed(
      collection="vm.rows"
      scroll-handle="home-list-scroll"
      summary-min-width="320"
      detail-max-width="720"
      show-detail-inline="false"
      item-height="160"
      detail-by-reference="true"
    )
    
      list-item-summary.animate-fade-slide-in-right
        div.item.summary.card.ink(
          ng-class="[$item.color || 'dark','bg'].join('-')"
          ui-sref="{{$item.target}}"
        )
          div.bg-image.mask( 
            ng-style="{'background-image': 'url(' + $item.heroPic + ')'}"
          )
          div.has-mask-wrap(
            ng-class="$item.layout"
            )
            h2 {{$item.title}}
            p {{$item.description}}

  ion-infinite-scroll(on-infinite="vm.on.loadMore()" ng-if="vm.settings.loadMore")
